<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Projetos</title>
</head>
<body>
    <nav>
        <img class="logo" src="../assets/img/logo.png" alt="Logo">
        <div class="bar">
            <a href="../index.html"><i class="fa fa-home"></i> Início</a>
            <a href="./projetos.html"><i class="fa fa-microchip"></i> Projetos</a>
            <a href="./tutoriais.html"><i class="fa fa-play-circle"></i> Tutoriais</a>
            <a href="./equipe.html"><i class="fa fa-users"></i> Equipe</a>
            <a href="./eventos.html"><i class="fa fa-trophy"></i> Eventos</a>
        </div>
    </nav>

    <section>
        <h1>Projetos</h1>
    </section>
    
    <section>
        <!-- Exemplo de cards -->

        <div class="card">
            <img src="../assets/img/projects/bmp180.png" alt="LM35" style="width:100%">
            <div class="container">
                <h4><b>Temperatura com LM35</b></h4>
                <p>Criação de um sistema com o LM35 para medir a temperatura do ambiente.</p>
            </div>
        </div>

        <div class="card">
            <img src="../assets/img/projects/bmp180.png" alt="LM35" style="width:100%">
            <div class="container">
                <h4><b>Temperatura com LM35</b></h4>
                <p>Criação de um sistema com o LM35 para medir a temperatura do ambiente.</p>
            </div>
        </div>

        <div class="card">
            <img src="../assets/img/projects/bmp180.png" alt="LM35" style="width:100%">
            <div class="container">
                <h4><b>Temperatura com LM35</b></h4>
                <p>Criação de um sistema com o LM35 para medir a temperatura do ambiente.</p>
            </div>
        </div>



        <p>Durante o período da construção do projeto, produzimos alguns outros projetos, como os citados abaixo:</p>
        <h2>Temperatura com LM35</h2>
        <h3>Objetivo:</h3>
        <p>Criar um medidor de temperatura. Este projeto irá para fazer com que o sensor LM35 sinalize a temperatura do ambiente</p>
        <h4>Componentes necessários:</h4>
        <p>Sensor LM35;</p>
        <p>3 fios jumper;</p>
        <p>Protoboard;</p>
        <p>Cabo USB;</p>
        <p>Um computador com a IDE do Arduino instalada;</p>
        <p>Arduino MEGA 2560.</p>
        <p>Nesse sistema iremos medir a temperatura ambiente de certo local, para fazer isso usaremos o sensor LM35. Devemos ter cuidado ao conectar ele no arduino, ele deve estar com sua parte plana virada para a pessoa, depois disso iremos conectar em sua perna mais a direita o fio que será conectado ao GND, na sua perna mais da esquerda o fio que é conectado aos 5v e na perna do meio o fio que é conectado ao analógico 1.</p>
        <h4>Montagem do circuito:</h4>
        <p>Conecte os componentes no Protoboard como mostra a figura abaixo. Verifique cuidadosamente os cabos de ligação antes de ligar seu Arduino. Lembre-se que o Arduino deve estar totalmente desconectado da força enquanto você monta o circuito.</p>
        <h2>Luminosidade com LDR</h2>
        <h3>Objetivo:</h3>
        <p>Criar um sistema de luminosidade. Este projeto irá fazer com que o sensor LDR sinalize a quantidade de luz recebida no ambiente.</p>
        <h4>Componentes necessários:</h4>
        <p>Sensor LDR;</p>
        <p>Protoboard;</p>
        <p>3 fios jumper;</p>
        <p>Um resistor de 2200 ohms; *</p>
        <p>Um cabo USB;</p>
        <p>Um computador com a IDE do Arduino instalada;</p>
        <p>Arduino MEGA 2560.</p>
        <p>* Um resistor é um componente que é utilizado para controle da quantidade de energia que sera transmitida a algum outro componente.</p>
        <p>Nesse sistema é adicionado um sensor de luminosidade, o sensor LDR, que significa Light Dependent Resistor (ou seja, resistor dependente de luz). Ele resumidamente consiste em uma diferença de potencial que está proporcionalmente ligado a quantidade de luz recebida pelo sensor.</p>
        <h4>Montagem do circuito:</h4>
        <p>Conecte os componentes no Protoboard como mostra a figura abaixo. Verifique cuidadosamente os cabos de ligação antes de ligar seu Arduino. Lembre-se que o Arduino deve estar totalmente desconectado da força enquanto você monta o circuito.</p>
        <h2>Luminosidade (LDR) e Temperatura(LM35)</h2>
        <h3>Objetivo:</h3>
        <p>Criar um medidor de temperatura e luminosidade. Este projeto irá fazer com que o sensor LM35 e LDR sinalizem a temperatura e luminosidade do ambiente</p>
        <h4>Componentes necessários:</h4>
        <p>Protoboard;</p>
        <p>Sensores LDR e LM35;</p>
        <p>8 fios jumper;</p>
        <p>Um resistor de 100 ohms;</p>
        <p>Um cabo USB;</p>
        <p>Um computador com a IDE do Arduino instalada;</p>
        <p>Arduino MEGA 2560.</p>
        <p>Um resistor é um componente que é utilizado para controle da quantidade de energia que sera transmitida a algum outro componente.

            Nesse sistema é adicionado um sensor de luminosidade, o sensor LDR, que significa Light Dependent Resistor (ou seja, resistor dependente de luz). Ele resumidamente consiste em uma diferença de potencial que está proporcionalmente ligado a quantidade de luz recebida pelo sensor.
            
            E também iremos medir a temperatura ambiente de certo local, para fazer isso usaremos o sensor LM35. Devemos ter cuidado ao conectar ele no arduino, ele deve estar com sua parte plana virada para a pessoa.</p>
        <h4>Montagem do circuito:</h4>
        <p>Conecte os componentes no Protoboard como mostra a figura abaixo. Verifique cuidadosamente os cabos de ligação antes de ligar seu Arduino. Lembre-se que o Arduino deve estar totalmente desconectado da força enquanto você monta o circuito.</p>
        <h2>Pressão e Temperatura (BMP180)</h2>
        <h3>Objetivo:</h3>
        <p>Criar um sistema de pressão e temperatura. Este projeto irá fazer com que o sensor BMP180 sinalize a  pressão e temperatura do ambiente.</p>
        <h4>Componentes necessários:</h4>
        <p>Protoboard;</p>
        <p>Sensor BMP180 Breakout (GY-68);</p>
        <p>Quatro fios jumper;</p>
        <p>Um cabo USB;</p>
        <p>Um computador com a IDE do Arduino instalada;</p>
        <p>Arduino MEGA 2560.</p>
        <p>O sensor BMP180, é um sensor que coleta a pressão atmosférica do local, é um sensor compacto e muito eficiente, utilizando bem pouca energia e ocupando pouco espaço.</p>
        <h4>Montagem do Circuito:</h4>
        <p>Conecte os componentes no Protoboard como mostra a figura abaixo. Verifique cuidadosamente os cabos de ligação antes de ligar seu Arduino. Lembre-se que o Arduino deve estar totalmente desconectado da força enquanto você monta o circuito.</p>
        <h4>Bibliotecas necessárias:</h4>
        <p><a href="https://github.com/adafruit/Adafruit-BMP085-Library">Adafruit-DHT-BMP085-library</a></p>
        <p><a href="https://github.com/PaulStoffregen/Wire">Wire-library</a></p>
        <h2>Pluviômetro</h2>
        <h3>Objetivo:</h3>
        <p>Criar um projeto Arduíno para detecção da quantidade de chuva em um determinado intervalo de tempo ou localidade.</p>
        <h4>Componentes necessários:</h4>
        <p>Protoboard;</p>
        <p>Quatro fios Jumper macho/macho e dois fio Jumper fêmea/macho;</p>
        <p>Um resistorde 10000 ohms;</p>
        <p>Um cabo USB;</p>
        <p>Um computador com a IDE do Arduino instalada;</p>
        <p>Arduino MEGA 2560;</p>
        <p>1 Pluviômetro de Báscula Digital Arduino para Estação Meteorológica;</p>
        <h4>Montagem do circuito:</h4>
        <p>A montagem física do referente projeto é extremamente simples já que trabalha com somente dois fios do Pluviômetro de Báscula e um Arduino, o único detalhe que podemos destacar para a instalação é a utilização de um resistor em Pull Down conectado diretamente ao pino D9 do Arduino em conjunto com os demais pinos de alimentação.
            Verifique abaixo o esquema de ligação utilizado para conectar o equipamento junto ao Arduino e logo ao lado o esquema elétrico da ligação utilizada junto aos demais componentes necessários.</p>
        <h2>Anenômetro</h2>
        <h3>Objetivo:</h3>
        <p>Criar um projeto Arduíno  para detecção da velocidade do vento horizontal.</p>
        <h4>Componentes necessários:</h4>
        <p>Protoboard;</p>
        <p>Sensor reed switch;</p>
        <p>Dois fios Jumper macho/macho e dois fio Jumper fêmea/macho;</p>
        <p>Um resistor de 10000 ohms;</p>
        <p>Um cabo USB;</p>
        <p>Um computador com a IDE do Arduino instalada;</p>
        <p>Arduino MEGA 2560.</p>
        <p>1 anemômetro sensor de velocidade do vento;</p>
        <h4>Montagem do circuito:</h4>
        <p>Conecte os componentes no Protoboard como mostra a figura abaixo. Verifique cuidadosamente os cabos de ligação antes de ligar seu Arduino. Lembre-se que o Arduino deve estar totalmente desconectado da força enquanto você monta o circuito.</p>
        <p>A montagem física do referente projeto é extremamente simples já que trabalha com somente dois fios do anemômetro e um Arduino, o único detalhe que podemos destacar para a instalação é a utilização de um resistor em Pull Down conectado diretamente ao pino digital 2 do Arduino em um dos fios do sensor e uma fonte de energia de 5V que pode ser o próprio pino VCC do Arduino no outro fio.</p>
        <h2>Temperatura e Umidade (DHT11)</h2>
        <h3>Objetivo:</h3>
        <p>Criar um sistema de umidade e temperatura. Este projeto irá fazer com que o sensor DHT11 sinalize a temperatura e umidade no ambiente.</p>
        <h4>Componentes necessários:</h4>
        <p>Sensor DHT11;</p>
        <p>Protoboard;</p>
        <p>5 fios jumper;</p>
        <p>Um resistor de 10 kilo ohms;</p>
        <p>Um cabo USB;</p>
        <p>um computador com a IDE do Arduino instalado;</p>
        <p>Arduino MEGA 2560.</p>
        <p>Um resistor é um componente que é utilizado para controle da quantidade de energia que sera transmitida a algum outro componente.</p>
        <p>Nesse sistema utilizaremos o sensor DHT11, que diferente do DHT22 tem uma precisão menor em temperatura e uma faixa de leitura menor mas ele é mais rápido na parte de captura de dados.</p>
        <h4>Montagem do Circuito:</h4>
        <p>Conecte os componentes no Protoboard como mostra a figura abaixo. Verifique cuidadosamente os cabos de ligação antes de ligar seu Arduino. Lembre-se que o Arduino deve estar totalmente desconectado da força enquanto você monta o circuito.</p>
        <h4>Bibliotecas necessárias:</h4>
        <p><a href="https://github.com/adafruit/DHT-sensor-library">Adafruit-DHT-sensor-library</a></p>
        <p><a href="https://github.com/adafruit/Adafruit_Sensor">Adafruit_Sensor</a></p>
        <h2>Umidade e Temperatura (DHT22)</h2>
        <h3>Objetivo:</h3>
        <p>Criar um sistema de umidade e temperatura. Este projeto irá fazer com que o sensor DHT22 sinalize a temperatura e umidade no ambiente.</p>
        <h4>Componentes necessários:</h4>
        <p>Sensor DHT22;</p>
        <p>Protoboard;</p>
        <p>6 fios jumper;</p>
        <p>Um resistor de 10 kilo ohms; *</p>
        <p>Um cabo USB;</p>
        <p>um computador com a IDE do Arduino instalado;</p>
        <p>Arduino MEGA 2560 ou Arduino Uno.</p>
        <p>* Um resistor é um componente que é utilizado para controle da quantidade de energia que sera transmitida a algum outro componente.</p>
        <p>Nesse sistema utilizaremos o sensor DHT22, que diferente do DHT11 tem uma precisão melhor em temperatura e uma faixa de leitura maior mas ele é mais lento na parte de captura de dados, ele também tem uma variação maior na parte de alimentação comparado ao DHT11.</p>
        <h4>Montagem do circuito:</h4>
        <p>Conecte os componentes no Protoboard como mostra a figura abaixo. Verifique cuidadosamente os cabos de ligação antes de ligar seu Arduino. Lembre-se que o Arduino deve estar totalmente desconectado da força enquanto você monta o circuito.</p>
        <p><a href="https://github.com/adafruit/DHT-sensor-library">Adafruit-DHT-sensor-library</a></p>
        <p><a href="https://github.com/adafruit/Adafruit_Sensor">Adafruit_Sensor</a></p>
        <h2>Umidade, temperatura (DHT11) e luminosidade(LDR)</h2>
        <h3>Objetivo:</h3>
        <p>Criar um projeto Arduino juntando vários sensores para saber todos os dados possíveis.</p>
        <h4>Componentes necessários:</h4>
        <p>Protoboard;</p>
        <p>Sensor LDR;</p>
        <p>Sensor DHT11;</p>
        <p>Jumpers;</p>
        <p>Resistor de 220 ohms; *</p>
        <p>Resistor de 10 kilo ohms; *</p>
        <p>Um cabo USB;</p>
        <p>Computador com a IDE do Arduino instalada;</p>
        <p>Arduino MEGA 2560 ou similar.</p>
        <p>* Um resistor é um componente que é utilizado para controle da quantidade de energia que sera transmitida a algum outro componente.</p>
        <h4>Montagem do circuito:</h4>
        <p>Conecte os componentes no Arduino como mostra a figura abaixo. Verifique cuidadosamente os cabos de ligação antes de ligar seu Arduino. Lembre-se que o Arduino deve estar desconectado do computador durante a montagem.</p>
        <h2>Pressão e temperatura (BMP180), Luminosidade (LDR), Umidade e Temperatura (DHT11)</h2>
        <h3>Objetivo:</h3>
        <p>Criar um projeto Arduino juntando os sensores BMP180, LDR e DH11 para saber pressão, temperatura, umidade e luminosidade.</p>
        <h4>Componentes necessárias:</h4>
        <p>Protoboard;</p>
        <p>Sensor LDR;</p>
        <p>Sensor DHT11;</p>
        <p>Sensor BMP180;</p>
        <p>Jumpers;</p>
        <p>2 Resistores de 2.2 kilo ohms; *</p>
        <p>Um Cabo USB;</p>
        <p>Computador com a IDE do Arduino instalada;</p>
        <p>Arduino MEGA 2560 ou similar.</p>
        <p>* Um resistor é um componente que é utilizado para controle da quantidade de energia que sera transmitida a algum outro componente.</p>
        <h4>Montagem do circuito:</h4>
        <p>Conecte os componentes no Arduino como mostra a figura abaixo. Verifique cuidadosamente os cabos de ligação antes de ligar seu Arduino. Lembre-se que o Arduino deve estar desconectado do computador durante a montagem.</p>
        <h2>Estação Acessível</h2>
        <h3>Objetivo:</h3>
        <p>Temos como objetivo espalhar conhecimento sobre tecnologia e ciências como fenômenos climáticos, conceitos de programação e eletrônica, utilizando a plataforma Arduino, para trabalhar esses conceitos montamos essa estação meteorológica acessível.</p>
        <h4>Componentes necessárias:</h4>
        <p>Protoboard;</p>
        <p>Sensor LDR;</p>
        <p>Sensor DHT11;</p>
        <p>Sensor BMP180;</p>
        <p>Sensor HC-SR04;</p>
        <p>Potenciômetro;</p>
        <p>Jumpers;</p>
        <p>Resistor de 1 kilo ohms; *</p>
        <p>Resistor de 10 kilo ohms; *</p>
        <p>Um cabo USB;</p>
        <p>Computador com a IDE do Arduino instalada;</p>
        <p>Arduino MEGA 2560 ou similar.</p>
        <p>* Um resistor é um componente que é utilizado para controle da quantidade de energia que sera transmitida a algum outro componente.</p>
        <h4>Montagem do circuito:</h4>
        <p>Conecte os componentes no Arduino como mostra a figura abaixo. Verifique cuidadosamente os cabos de ligação antes de ligar seu Arduino. Lembre-se que o Arduino deve estar desconectado do computador durante a montagem. Para ajustar a luminosidade do LCD utilize o potenciômetro.</p>
    </section>
</body>
</html>